<%= render "shared/header" %>
<div class="mainaaa">
      <div class = "testmain">
      main
      </div> 


      <div class = "testriget">
      right
      </div> 

</div>
      <div class = "testleft">
      left
      </div> 


