
 <div>
  <div>部位から選択</div>
    <%# <p>上肢</p> %>
    <ul class ="joint_filter_modal">
      <li >
        <button class="musle_filter_list"  id="sholderFilter" value="肩関節">
        <div class ="filter_img">肩関節</div>
        <img class="musle_img"src="/assets/sholder.jpg"></button>
      </li>
      <li ><button class="musle_filter_list" id="elbowFilter" value="肘関節">肘関節<img class="musle_img"src="/assets/elbow.jpg"></button></li>
      <li ><button class="musle_filter_list" id="handFilter" value="手関節">手関節<img class="musle_img"src="/assets/hand.jpg"></button></li>
    

    <%# <p>下肢</p> %>
    
      <li ><button class="musle_filter_list" id="hipFilter" value="股関節">股関節<img class="musle_img"src="/assets/hip.jpg"></button></li>
      <li ><button class="musle_filter_list" id="kneeFilter" value="膝関節">膝関節<img class="musle_img"src="/assets/knee.jpg"></button></li>
      <li ><button class="musle_filter_list" id="ankleFilter" value="足関節">足関節<img class="musle_img"src="/assets/ankle.jpg"></button></li>
    

    <%# <p>体幹</p> %>
   
      <li ><button class="musle_filter_list" id="frontTrunkFilter" value="体幹全面">体幹全面<img class="musle_img"src="/assets/front_trank.jpg"></button></li>
      <li ><button class="musle_filter_list" id="backTrunkFilter" value="体幹後面">体幹後面<img class="musle_img"src="/assets/back_trank.jpg"></button></li>
      <li ><button class="musle_filter_list" id="compositeFilter" value="複合">複合・その他<img class="musle_img"src="/assets/IMG_6501.jpg"></button></li>
    </ul>
</div>