
 <div>
  <div>運動方法から選択</div>
    <%# <p>臥位レベル</p> %>
    <ul>
      <li ><button class="musle_filter_list" id="supineFilter" value="背臥位">背臥位<img class="musle_img"src="/assets/Supine.png"></button></li>
      <li ><button class="musle_filter_list" id="proneFilter" value="腹臥位">腹臥位<img class="musle_img"src="/assets/Prone.png"></button></li>
      <li ><button class="musle_filter_list" id="lateralFilter" value="側臥位">側臥位<img class="musle_img"src="/assets/Lateral.png"></button></li>
   
    <%# <p>座位・立位レベル</p> %>
 
      <li ><button class="musle_filter_list" id="sittingFilter" value="座位">座位<img class="musle_img"src="/assets/Sitting.png"></button></li>
      <li ><button class="musle_filter_list" id="standingFilter" value="立位">立位<img class="musle_img"src="/assets/Standing.png"></button></li>
      <li ><button class="musle_filter_list" id="foursFilter" value="四つ這い">四つ這い<img class="musle_img"src="/assets/fours.png"></button></li>
   
    <%# <p>トレーニング種類</p> %>
 
      <li ><button class="musle_filter_list" id="stretchFilter" value="ストレッチ">ストレッチ<img class="musle_img"src="/assets/stretch.png"></button></li>
      <li ><button class="musle_filter_list" id="muscle_trainingFilter" value="筋トレ">筋トレ<img class="musle_img"src="/assets/Muscle.png"></button></li>
      <li ><button class="musle_filter_list" id="stabilityFilter" value="スタビリティ">スタビリティ<img class="musle_img"src="/assets/balance.png"></button></li>
    </ul>
</div>