<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">検索メニュー</h2>
    
    <div class = "filter"> 筋名で検索
      <form>
        <input type="search" class="testserch" placeholder="筋名を入力してください">
      </form>
    </div>
     <div>選択中</div>
    <div>ここが選択した内容に書き換わる</div>
    <div class ="filter_list">
      <li><button class="filter_butten">部位から選択<img src="/assets/kintr.jpg" class="side_img"></button></li>
      <li><button class="filter_butten">運動肢位から選択<img src="/assets/exercise_posture.jpg" class="side_img"></button></li>
      <%# <li><button class="filter_butten">パッケージから選択<img src="/assets/checklist.jpg" class="test_img"></button></li> %>
    </div>




  </div>



</div>