
.main_menu{
  width: 90%;  /*side.CSSの.listings のwidthと連動*/
  float: right;
  background-color: aliceblue;
}
/* 自主トレ設定画面 */
.create-menu{
  float: right;
  width: 20%;
  background-color:white;
  /* height:100vh; */


}
.menu_form{
  /* padding:20px;
  font-size:25px; */

}

.form{

  /* display:flex; */

}
.name_form{
  width: 90%;
  height:50px;
  padding:20px;
  margin: 10px;
  text-align    : center; 
}



.menu_btn{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 20pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;       
  background    : #3399FF;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #3399FF;    /* 枠の指定 */
  width: 90%;
  height:50px;
  margin: 10px;

}
.menu_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */

}

.menu-edit{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  /* overflow: scroll; */
  height:100vh;
}

.number_frequency{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.not_editer{
  display: none;

}

.menu-editor{
  border          : 1px dotted #7f4600;
  background-color:white;
  width           :10vw;
  min-width       : 150px;
  height          : 10vw;
  min-height      :150px;
  float: left;
  display: flex;
}

.menu_number , .menu_frequency{
  display:inline-block;
  background-color: #3399FF;
  color: white;
  height: 30px;
  width: 50px;
  font-size: 20px;
}

.number_select,.frequency_select{
  display:inline-block;
  padding: 5px;
  height: 30px;
  width: 50px;
  font-size: 20px;
}




/* 一覧数表示 */
.display_list{
  font-size: 1.4rem;
  font-weight: 700;
  display: inline;
  margin-right: 4px;
  display:flex;
}

.count_index{
  display: flex;
}

.display_counts{
  padding-top: 10px;
}
/* 自主トレ一覧 */
.training-all{
  float: left;
  width: 80%;
  height:100vh;

}


.training{
  display: flex;
  flex-wrap: wrap;
  margin:30px;
  width: 100%;
}
.training_list{ 
  padding: 0.5em 1em;
  margin: 2em 0;
  background-color: #fff;  
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  margin:10px;
  color: #000;
}





.training_title{
  position: absolute;
  /* width: 100%; */
}




/* 画像サイズ */
.training_img{
  width:10vw;
  min-width: 150px;
  height: 10vw;
  min-height:150px;
  /* width:250px;
  height:250px; */
}



.training_image{
  overflow: hidden;
  cursor: pointer;
}
.training_image .training_img{
  width: 100%;
  transition-duration: 0.5s;
}
.training_image:hover .training_img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}


.training_id{
  display: flex;
  justify-content: space-between;
  /* 画像の幅に合わせるため */
  width: 100%;         
  padding: 10px 40px;
  /* relativeの要素を基準にする */
  position: absolute;  
  left: 0;            
  bottom: 0;    
  /* 半透明の背景。 */       
  background: rgba(0,0,0,0.5);  
}



.register{
  height: 20px;
  width:20px;
  margin:0;
  padding: 0;
}

.garbage_can{
  height: 30px;
  width:30px;
  margin:0;
}




.addbutton{
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     :15px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;       
  background    : #3399FF;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #3399FF;    /* 枠の指定 */
  width:100%;
}

.addbutton:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */

}
