

/* 自主トレ設定画面 */
.creat-menu{
  background-color:bisque;
  width: calc( 100% - 220px );
  float: right;
  
}
.menu_form{
  /* padding:20px; */
}

.form{
  display:flex;

}
.name_form{
/* background-color:#C0C0C0; */
height: 30px;
}

.menu_btn{
  height: 30px;
  width:30px;
  border: 1px solid;
  /* padding:20px; */
}

.menu-edit{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.number_frequency{
  border: solid white;
  margin: 5px;
  position: relative; 
}
.not_editer{
  display: flex;
  justify-content: center;
  position: absolute; 
  left: 0;
  right: 0;
  top:25px;
  margin: auto;

  z-index: 1;
}
.menu-editor{
  margin:20px;
  width:350px;
  height: 350px;
  border: 1px dotted #7f4600;
  background-color:white;
  /* padding:-40px; */
 
  
}

.menu_number , .menu_frequency{
  display:inline-block;
  background-color: #3399FF;
  color: white;
  padding: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.number_select{
  display:inline-block;
  padding: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
}
.frequency_select{
  display:inline-block;
  padding: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
}


/* 自主トレ一覧 */
.training-all{
  /* background-color:#99FFFF; */
  width: calc(100% - 220px);
  height:100vh;
  float: right;
  /* overflow: scroll; */

  
}

.training_list{ 
  margin:20px;
}

.training{
  margin:20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}



.training_title{
  font-size: 20px;
  font-weight:bolder;
  margin: 0;
  padding: 0;
  color: #fff;

}

/* 画像サイズ */
img{
  width:350px;
  height: 350px;

}
.training_image{
  /* border: 1px solid black; */
  /* margin:20px; */
    width:350px;
  height: 350px;
  position: relative;  /* 帯の表示位置の基準とする */
}

.training_id{
  display: flex;
  justify-content: space-between;
  width: 100%;         /* 画像の幅に合わせるため */
  padding: 10px 40px;
  position: absolute;  /* relativeの要素を基準にする */
  left: 0;            
  bottom: 0;           
  background: rgba(0,0,0,0.5);  /* 半透明の背景。 */
}



.register{
  height: 20px;
  width:20px;
  margin:0;
  padding: 0;
}

.garbage_can{
  height: 30px;
  width:30px;
  margin:0;
}


.display_list{
  font-size: 1.4rem;
  font-weight: 700;
  display: inline;
  margin-right: 4px;
  display:flex;
}

.count_index{
  display: flex;
}

.display_counts{
  padding-top: 10px;
}
