/* モーダル */
.modalArea {
  position: fixed;
  top: 50px;
  /* left: 50%; */
  display: none;
width: calc( 100% - 220px );
  /* margin-left: -490px; */
  border-radius: 5px;
  background-color: #fff;
  z-index: 101;


}


.modalBg {
  /* width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
  overflow: scroll; 
  position: fixed;
  position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 100; */
} 

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%);
  width: 70%;
  /* max-width: 500px; */
  padding: 10px 30px;
  background-color: #fff;
  
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;

  position: absolute;
  top: -40px;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 3px; 
  background-color: #fff;
}




#openModal {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%); */
}

.pagebreak {
  break-after: page;
}

.tes{
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;

  position:fixed;
  top :30px;
  right :30px;
  font-size: 20px;
}

.musle_filter_list{
  height: 100px;
  width: 100px;
}

.musle_img{
  height: 70px;
  width: 70px;
}

.testaaa{
  background-color:#3399FF;
}