.title{
  display:flex;
}
.name-day{
  display:flex;
  justify-content:space-between;
}

.training-information{
  margin:5px;
  height:30%;
}
.mascle-information{
  display:flex;

}

.information{
  height:90%;
}

.training-frequency{
  display:flex;
}

.training-title{
  font-weight:bold;
  font-size:30px;
}

.mascle-name{

}
.explanation{

}

.muscle-image{
  border: 1px solid;
  width:150px;
  height: 150px;
  margin:10px;
}

.filter_form{
  /* background-color:grey; */
}

.number, .frequency{
  display:inline-block;
  background-color: #3399FF;
  color: white;
  padding: 20px;
}


.mascle-information{
  display: flex;
  font-size:30px;
  padding: 20px;
  background-color: antiquewhite;
  /* height: 20%; */
  width: 100%;
}



.information{

}

.mascle-name{
  
}

.explanation{

}

.joint_filter{
}



/* 自主トレフローチャート図 */
.show-training-detail{
  margin:10px;
  height:70%;
  /* background-color:aliceblue; */
}
.preview-sized{
  width:10vw;
  min-width: 100px;
  height: 10vw;
  min-height:100px;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
dt{
margin:5px;
}
dd {
  font-size:16px;
  width: 100%;
  /* background-color:yellowgreen; */
  /* background-color:grey; */
  margin:0;
}
dl{
  display:flex;
  margin:5px;
}

.flow {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flow > li {
  margin: 10px;
  /* -ms-flex-preferred-size: 48%; */
  flex-basis: 48%;
  border: 2px solid rgb(107,144,219);
}



.icon {
  padding:5px;
  font-size: 30px;
  color: #fff;
  background-color:#3399FF;

  /* background: rgb(107,144,219);
  background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
  background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  background: linear-gradient(to right, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 ); */

}