.show_training-information{
  margin:5px;
  height:30%;
}

.training-menu-edit{


}
.menu-delete{
  margin:5px;
}

.show_mascle-information{
  display:flex;

}

.show_information{
  height:90%;
}

.show-training-title{
  padding:10px;
  font-weight:bold;
  /* background-color:pink; */
  font-size:20px;
}



.mascle-name{

}
.explanation{

}


.show_muscle-image{
  border: 1px solid;
  width:150px;
  height: 150px;
  margin:10px;
}

.show_filter_form{
  /* background-color:grey; */
}

.number, .frequency{
  display:inline-block;
  background-color: #3399FF;
  color: white;
  padding: 20px;
}




.show_joint_filter ~ ul{
  display:flex;
}

.mascle-information{
  display: flex;
  font-size:30px;
  padding: 20px;
  background-color: antiquewhite;
  /* height: 20%; */
  width: 100%;
}



.information{

}

.mascle-name{
  
}

.explanation{

}

.joint_filter{
}



/* 自主トレフローチャート図 */
.show-training-detail{
  margin:10px;
  height:70%;
  /* background-color:aliceblue; */
}
.show_sized{
  width:10vw;
  min-width: 100px;
  height: 10vw;
  min-height:100px;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
dt{
margin:5px;
}
dd {
  font-size:16px;
  width: 100%;
  /* background-color:yellowgreen; */
  /* background-color:grey; */
  margin:0;
}
dl{
  display:flex;
  margin:5px;
}

.flow {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flow > li {
  margin: 10px;
  /* -ms-flex-preferred-size: 48%; */
  flex-basis: 48%;
  border: 2px solid rgb(107,144,219);
}



.icon {
  padding:5px;
  font-size: 30px;
  color: #fff;
  background-color:#3399FF;

  /* background: rgb(107,144,219);
  background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
  background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  background: linear-gradient(to right, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 ); */

}



/* 詳細ページのモーダル */
/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

#modal {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 5vh;
  bottom: 5vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 20;   /* マスクより上に重なるようにする */
  width: 90%;   /* showビューの幅に合わせて設定 */
  height:90%;
  background-color: #fff;
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}