

/* サイドバー */
.listings {
  min-height: 100vh;
  height: 100%;
  width: 10%;
  float: left;

}
.listings_channels{

}

.listings_header{
  font-size: auto;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
  
}



.muscle-filter{
  text-align: center;
}



.muscleserch{
  margin:10px;
  width: 90%;
  height:32px;
  text-align: center;
  font-size:12px;
}


.filter_butten{
  margin:10px;
}


.side_img{
  height: 100px;
  width: 100px;
}

.filter_list{
  width:100%;
  height:100vh;
  overflow: scroll;
}

.motion_filter{
  text-align: center;

}

.motion_filter_list{
  text-align: center;

}

.position_filter {
  text-align: center;
}
.position_filter_list{
  display: none;
  margin:5px;
  text-align: center;

}

.joint_filter{
  text-align: center;
  /* width:100%;
  height:50vh;
  overflow: scroll; */
}

.joint_filter_list{
  display: none;
  margin:5px;
  text-align: center;

}



.filter_conditions{
  height: 60px;
  width: 80%;
  font-size:5px;
  margin-top:5px;
  /* display:flex; */
  
}

.filter_img{
  width: 50px;
  height: 50px;
}

.testaaa{
  background-color:#3399FF;
}

.motion_conditions{
  height: 120px;
}



/* スライドメニューデザイン */
#menu {
  position: fixed;
  height: 90%;                         /* メニューの縦範囲 */
  width: 350px;                         /* メニューの横範囲 */
  max-width: 350px;                     /* メニューの横上限 */
  background-color: #808080;            /* メニューの背景色 */
  top: 70px;                            /* メニューの表示位置縦 */
 right: 0;                              /*  メニューの表示位置横   */
  z-index: 1000;                          /* メニューの重なり位置 */
  overflow: scroll;
}

#menu li {
  padding: 12px;                        /* 余白 */
  color: #EEEEEE;                       /* 文字色 */
  border-bottom: 1px solid #EEEEEE;     /* 区切線 */
  list-style-type: none;                /* リストデザイン無 */
}

/*====== 右に消えるアニメ ======*/
#menu.SlideOut {
  animation: SlideOut 0.5s forwards;
}
@keyframes SlideOut{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(350px);
  }
}

/*====== 左に現れるアニメ ======*/
#menu.SlideIN {
  animation: SlideIN 0.5s forwards;
}
@keyframes SlideIN{
  from {
    transform: translateX(350px);
  }
  to {
    transform: translateX(0);
  }
}



/* ハンバーガーボタン */
.openbtn {
  position: fixed;            /* 固定表示 */
  background:black;         /* 背景色 */
  cursor: pointer;            /* マウスカーソル指 */
  border        : 1px solid #ffffff;    /* 枠の指定 */
  width: 50px;                /* 高さ */
  height:50px;                /* 横幅 */
  border-radius: 5px;         /* 角を丸める */
  right: 9px;                 /* 表示位置右 */
  top: 0;                   /* 表示位置上 */
  z-index:1001;
}

/* ハンバーガーメニューの線を定義 */
.openbtn span{
    display: inline-block;     /* 要素内ブロック */
    position: absolute;        /* 絶対位置指定   */
    height:3px;                /* 線の太さ       */
    width: 25px;               /* 線の長さ       */
    background: #fff;          /* 線の色         */
    left: 12.5px;
  }

/* span (1)番目の要素に適用 */
.openbtn span:nth-of-type(1) {
    top:15px; 
}

/* span (2)番目の要素に適用 */
.openbtn span:nth-of-type(2) {
    top:23px;
}

/* span (3)番目の要素に適用 */
.openbtn span:nth-of-type(3) {
    top:31px;
}

.cartcount{
  display       : inline-block;
  border-radius : 50%;          /* 角丸       */
  font-size     :15px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  padding       : 5px;       
  background    : red;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #ffffff;    /* 枠の指定 */
  position: absolute;/*絶対配置*/
  top: 0;
  right: 0;
  z-index: 10;
  display:none;
}