

/* サイドバー */
.listings {
  min-height: 100vh;
  height: 100%;
  width: 10%;
  float: left;
}
.listings_channels{
}

.listings_header{
  font-size: auto;
  padding: 10px;
  color: deepskyblue;
  text-decoration: none;
  
}



.muscle-filter{
  margin:10px;
  text-align: center;
}

.muscleserch{
  margin:10px;
  width: 90%;
  height:50px;
  text-align: center;
}


.filter_butten{
  margin:10px;
}


.side_img{
  height: 100px;
  width: 100px;
}