<header>
   <h1 class =header_title>
      <a href="/">2rehaApp</a>
   </h1>
   <nav class="nav">
      <ul class="lists-right">
         <li class="menu"><%= link_to "メニュー処方", menu_index_path %></li>
         <li class="menu"><%= link_to "パッケージ登録", "#"%></li>
         <li class="menu"><%= link_to "メニュー登録", new_menu_path%></li>
      </ul>
   </nav>
</header>